#database and api keys
.env
#redundant ipynb files
"C:\Users\DARiN\Documents\Python-JL\Github\caliskate.github.io\Auto Blog Post Scripts\.ipynb_checkpoints\"
"C:\Users\DARiN\Documents\Python-JL\Github\caliskate.github.io\.ipynb_checkpoints\"